<div>
    <label>{{hearing.previous}}</label>&nbsp;
    <label>{{hearing.date }} -> {{hearing.caseName}}</label>&nbsp;
    <label>{{hearing.next}}</label>
</div>
<br>
<div>
    {{hearing.court}} {{hearing.remarks}}
</div>
<hr/>