<form *ngIf="!isLoggedIn">
  <span >
  <input name="email" [(ngModel)]="email" placeholder="Enter email">
  <input name="password" type="password"[(ngModel)]="password" placeholder="Enter Password">
  <button name="login" type="submit" (click)="login()">Login</button>
  </span>
</form>
<form *ngIf="isLoggedIn">
  Welcome! Dear {{user.fullName()}}
  <button name="logout"  type="submit" (click)="logout()">Logout</button>
</form>
