<form *ngIf="!isUserRegistered()">
  <div>
    <input name="txtFirstName" type="text" [(ngModel)]="user.name.first" placeholder="Enter first name"/>
    <input name="txtLastName" type="text" [(ngModel)]="user.name.last" placeholder="Enter last name"/>
  </div>
  <div>
    <input name="pwdPassword" type="text" [(ngModel)]="user.password" placeholder="Enter password"/>
  </div>
  <div>
    <input name="txtEmail" type="text" [(ngModel)]="user.email" placeholder="Enter Email"/>
  </div>
  <div>
    <input name="txtAddress" type="text" [(ngModel)]="user.address" placeholder="Enter Address"/>
  </div>
  <div>
    <label> user type = {{user.userType}} </label>
  </div>
  <div>
    <button name="btnRgister" type="submit" (click)="register()">Register</button>
  </div>
</form>
hello{{isUserRegistered()}}hello
<p *ngIf="isUserRegistered()">
  Registered Successfully
  Welcome Mr. {{user.name.first}} {{user.name.last}}
  <input name="btnOk" type="button" (click)="clear()" value="OK"/>
</p>