<p>
  Court Assitant is an attempt to make the advocates' and their clients' life easier.
<p>

<h2>Features</h2>
<ul>
  <li>Advocates Profile</li>
  <li>Clients Profile</li>
  <li>Registring Trial details</li>
  <li>Managing hearing of trials</li>
  <li>Tracking trial progress</li>
  <li>Managing trial and hearing details</li>
</ul>
